.c-card {
  border-radius: 5px;
  height: 100px;
}

.c-card img {
  width: 100%;
  border-radius: 5px;
  height: 100px;
}

.tag-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
}

.tag-text {
  font-weight: 900;
  font-size: 1em;
}

.card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll {
  overflow-y: scroll;
}

.featured-card-img {
  height: 75vh;
  border-radius: 5px;
}

/* @media (min-width: 1200px) {
  .owl-item {
    width: 300px !important;
    height: auto !important;
  }
}

@media (min-width: 320px) {
  .owl-item {
    width: 200px !important;
    height: auto !important;
  }
}
@media (min-width: 375px) {
  .owl-item {
    width: 200px !important;
    height: auto !important;
  }
}
@media (min-width: 425px) {
  .owl-item {
    width: 250px !important;
    height: auto !important;
  }
}
@media (min-width: 768px) {
  .owl-item {
    width: 230px !important;
    height: auto !important;
  }
}
@media (min-width: 1024px) {
  .owl-item {
    width: 250px !important;
    height: auto !important;
  }
}
@media (min-width: 1440px) {
  .owl-item {
    width: 340px !important;
    height: auto !important;
  }
}
@media (min-width: 2560px) {
  .owl-item {
    width: 100% !important;
    height: auto !important;
  }
} */
