<div [routerLink]="['/events/details', event.id]" class="card"><img class="card__img"
        [src]="event.eventThumbnail"
        alt="Desert">
    <div class="card__content">
        <h1 class="card__header">{{event.eventName | titlecase }}</h1>
        <p class="card__text">{{event.eventStartDate.seconds * 1000 | date:"mediumDate"}} | {{event.eventCity | titlecase}}</p>
        <strong class="card__text price">{{event.eventTicketPrice | currency:'INR'}}</strong>
        <!-- <button class="card__btn">Explore <span>&rarr;</span></button> -->
    </div>
</div>