<div class="container" *ngIf="!dataSource">
    <table mat-table [dataSource]="[{}, {}, {}, {}, {}]" class="mat-elevation-z1">

        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Index Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let index = index">{{index+1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="eventName">
            <th mat-header-cell *matHeaderCellDef> Event Name </th>
            <td mat-cell *matCellDef="let element">
                <app-skeleton-loader Cwidth="400px"></app-skeleton-loader>
            </td>
        </ng-container>

        <!-- Start date  Column -->
        <ng-container matColumnDef="joinDate">
            <th mat-header-cell *matHeaderCellDef> Join Date </th>
            <td mat-cell *matCellDef="let element">
                <app-skeleton-loader Cwidth="150px"></app-skeleton-loader>
            </td>
        </ng-container>

        <!-- Status date  Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <app-skeleton-loader Cwidth="25px"></app-skeleton-loader>
            </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <app-skeleton-loader Cwidth="25px"></app-skeleton-loader>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="container" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Index Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let index = index">{{index+1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="eventName">
            <th mat-header-cell *matHeaderCellDef> Event Name </th>
            <td mat-cell *matCellDef="let element">
                {{element.eventName}}
            </td>
        </ng-container>

        <!-- Start date  Column -->
        <ng-container matColumnDef="joinDate">
            <th mat-header-cell *matHeaderCellDef> Join Date </th>
            <td mat-cell *matCellDef="let element">
                {{ element.joinDate.seconds * 1000 | date: 'mediumDate' }}
            </td>
        </ng-container>

        <!-- Status date  Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.isPaid">confirmation_number</mat-icon>
                <mat-icon *ngIf="!element.isPaid">error</mat-icon>
            </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/events/details', element.eid]">
                    <mat-icon>link</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>