mat-card {
  min-width: 150px;
  max-width: 500px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

.server-error {
  margin-bottom: 8px;
}

.col-2 {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}