<footer>
    <div class="container">
        <div class="col-3">
            <div class="info">
                <h1 class="h1">
                    Company Bio
                </h1>
                <p>We are a team of college students working on this project like it's our full time job. Any amount
                    would
                    help
                    support and continue development on this project and is greatly appreciated.</p>
            </div>

            <div class="links">
                <h1 class="h1">
                    Settings
                </h1>
                <ul>
                    <li>Setting</li>
                    <li>Setting</li>
                    <li>Setting</li>
                    <li>Setting</li>
                </ul>
            </div>

            <div class="links">
                <h1 class="h1">
                    Connect
                </h1>
                <ul>
                    <li>Setting</li>
                    <li>Setting</li>
                    <li>Setting</li>
                    <li>Setting</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">

         Made by
        <span style="color: #bcaaa4">
            Group B9
        </span>
    </div>
    </div>
</footer>