<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!providerIsGoogle">
    <mat-form-field [color]="fc.oldPassword.valid && 'primary'" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" type="password" placeholder="Old Password" autocomplete="off" />

        <mat-error *ngIf="fc.oldPassword.invalid && fc.oldPassword.dirty">
            Password must be at least 6 characters long
        </mat-error>

    </mat-form-field>

    <mat-form-field [color]="fc.newPassword.valid && 'primary'" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" placeholder="New Password" autocomplete="off" />

        <mat-error *ngIf="fc.newPassword.invalid && fc.newPassword.dirty">
            Password must be at least 6 characters long
        </mat-error>

    </mat-form-field>

    <mat-form-field [color]="fc.confirmPassword.valid && 'primary'" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" [errorStateMatcher]="matcher"
            placeholder="Confirm password" autocomplete="off" />

        <mat-error *ngIf="fc.newPassword.dirty && form.hasError('notSame')">
            Password does not match
        </mat-error>

    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || loading || !passwordDoesMatch">
        Save Changes
    </button>
</form>

<div style="margin: 0 auto; margin-top: 3em; text-align: center;">
    <p *ngIf="!providerIsGoogle">OR</p>
    <h1>{{user?.email}}</h1>
    <button mat-flat-button color="primary" (click)="sendPassResetEmail()">
        Send Password Reset Email
    </button>
</div>