/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.col-2, .col-3 {
  display: grid;
  column-gap: 1em;
  margin-right: 1.5em;
}

.col-2 {
  grid-template-columns: auto auto;
}
.col-3 {
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 600px) {
  .col-2, .col-3 {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 430px) {
  .col-2, .col-3 {
    grid-template-columns: auto;
  }
}
